.header {
    padding: 20px 0px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 10px;
}

.active {
    background-color: orange;
}



.coctail-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 10px 80px;

}

.coctail {
    width: 422px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 16px gray;
    margin: 0 auto;
}

.coctail img {
    width: 400px;
    text-align: center;
    border-radius: 20px;
}

.btn-show-details {
    padding: 10px 60px;
    box-shadow: 1px 1px 4px gray;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;


}



@media screen and (max-width: 859px) {

    .coctail-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 100px;
        margin: 0 auto;
    }

    .coctail {
        width: 350px;
    }

    .coctail img {
        width: 340px;
    }

}

@media screen and (min-width:860px) and (max-width:1450px) {
    .coctail-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin: 0 auto;
    }

    .coctail {
        width: 350px;
    }

    .coctail img {
        width: 340px;
    }
}

@media screen {}