.header {
    padding: 20px 0px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 10px;
}

.active {
    background-color: orange;
}